.font-style{
    font-family: 'Roboto Condensed', sans-serif;
}
.overflow-handle{
    text-overflow: ellipsis;
}
.rounded-img{
    border-radius: 15px;
    width:40px;
}
.category-item{
    background-color:#F6F6F7 ;
  color:858585 ;
}
     
